.header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background: #4D2B81;
  height: 88px;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 1px solid #fff;
  z-index: 1002;
  /* End NavMenu */ }
  @media (max-width: 999px) {
    .header {
      height: auto;
      padding: 12px 0px; } }
  .header.sticky {
    position: fixed;
    top: 0px;
    left: 0px; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 999px) {
      .header .container {
        justify-content: end; } }
  .header .burger {
    position: absolute;
    right: 12px;
    display: none;
    cursor: pointer;
    user-select: none;
    width: 24px;
    height: 1rem;
    background: transparent; }
    @media (max-width: 999px) {
      .header .burger {
        display: block; } }
    .header .burger-line {
      position: absolute;
      display: block;
      right: 0px;
      width: 100%;
      height: 2px;
      opacity: 1;
      border: none;
      outline: none;
      background: #fff; }
      .header .burger-line:nth-child(1) {
        top: 0px; }
      .header .burger-line:nth-child(2) {
        top: 0.5rem;
        width: 80%; }
      .header .burger-line:nth-child(3) {
        top: 1rem;
        width: 60%; }
  .header .logo {
    margin-bottom: -58px; }
    @media (max-width: 999px) {
      .header .logo {
        margin: 0px; } }
    .header .logo img {
      max-width: 175px; }
      @media (max-width: 999px) {
        .header .logo img {
          max-width: 110px; } }
  .header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65); }
    @media only screen and (max-width: 1100px) {
      .header .overlay.active {
        display: block;
        opacity: 1;
        visibility: visible; } }
  .header .menu-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 999px) {
      .header .menu-actions {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 290px;
        height: 100%;
        z-index: 10;
        opacity: 0;
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        padding: 20px;
        background: #4D2B81; }
        .header .menu-actions.active {
          right: 0rem;
          opacity: 1;
          visibility: visible; } }
    .header .menu-actions .logo,
    .header .menu-actions .cancel {
      display: none;
      margin: 0px; }
      @media (max-width: 999px) {
        .header .menu-actions .logo,
        .header .menu-actions .cancel {
          display: block; } }
    @media (max-width: 999px) {
      .header .menu-actions .logo {
        margin-bottom: 64px; } }
    .header .menu-actions .cancel {
      position: absolute;
      left: 20px;
      top: 20px; }
    @media (max-width: 999px) {
      .header .menu-actions .bottom {
        min-width: 100%;
        margin-top: 16px; } }
    .header .menu-actions .play {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      position: relative;
      overflow: hidden;
      color: #fff;
      outline: none;
      outline-style: none;
      border: 0px;
      text-align: center;
      background: #FE0000;
      font-weight: 700;
      font-size: 20px;
      border-radius: 60px;
      border: 3px solid #000;
      cursor: pointer;
      z-index: 1;
      min-width: 188px;
      padding: 8px 24px;
      -moz-transition: all 0.1s ease-in-out 0s;
      -o-transition: all 0.1s ease-in-out 0s;
      -webkit-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s;
      background: #F08320;
      min-width: 124px; }
      @media (max-width: 999px) {
        .header .menu-actions .play {
          font-weight: 500; } }
      .header .menu-actions .play:hover {
        transform: translate(2px, -3px);
        box-shadow: 0px 10px 0px #000000; }
      .header .menu-actions .play:focus {
        outline: none;
        outline-style: none; }
      @media (max-width: 999px) {
        .header .menu-actions .play {
          min-width: 100%; } }
    .header .menu-actions .itemlink {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      cursor: pointer;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 999px) {
        .header .menu-actions .itemlink {
          display: block;
          margin-bottom: 16px;
          font-size: 20px;
          font-weight: 500; } }
      .header .menu-actions .itemlink:hover {
        color: #F08320; }
    .header .menu-actions .dropdown .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      line-height: 1;
      cursor: pointer;
      position: relative;
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      border-radius: 60px;
      background: #FE0000;
      border: 3px solid #000; }
      @media (max-width: 999px) {
        .header .menu-actions .dropdown .dropdown-toggle {
          margin-top: 16px; } }
      .header .menu-actions .dropdown .dropdown-toggle::after {
        display: none; }
    .header .menu-actions .dropdown .dropdown-menu {
      left: 0px !important;
      right: auto !important;
      padding: 0px;
      transform: none !important;
      top: 68px !important;
      margin: 0px;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      border: 0px;
      padding-top: 6px;
      width: 168px;
      overflow: hidden;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-clip: padding-box;
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      text-align: start;
      z-index: 2; }
      @media (max-width: 999px) {
        .header .menu-actions .dropdown .dropdown-menu {
          position: relative !important;
          width: 100%;
          top: auto !important;
          margin-top: 8px !important; } }
      .header .menu-actions .dropdown .dropdown-menu .dropdown-item {
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        background: none !important;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px; }
        .header .menu-actions .dropdown .dropdown-menu .dropdown-item:last-child {
          border: 0px;
          border-top: 1px dotted #FFE6E6;
          padding: 12px;
          color: #FE0000;
          margin: 0px; }
        .header .menu-actions .dropdown .dropdown-menu .dropdown-item.active, .header .menu-actions .dropdown .dropdown-menu .dropdown-item:hover {
          color: #FE0000; }

.header-competition {
  display: flex;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid #00000033; }
  @media (max-width: 1300px) {
    .header-competition {
      height: 74px; } }
  .header-competition .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    max-width: 100%; }
  .header-competition .logo img {
    max-width: 111px; }
  .header-competition .btn-actions {
    display: flex;
    align-items: center;
    gap: 2px; }
    @media (min-width: 1600px) {
      .header-competition .btn-actions {
        gap: 7px; } }
    @media (max-width: 1300px) {
      .header-competition .btn-actions {
        display: none; } }
    .header-competition .btn-actions .cup img {
      width: 79px;
      height: 64px; }
    .header-competition .btn-actions .innerbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      background: #EDEDF5;
      height: 42px;
      border-radius: 8.88px;
      padding: 8px; }
      @media (min-width: 1600px) {
        .header-competition .btn-actions .innerbtn {
          padding: 12px; } }
      .header-competition .btn-actions .innerbtn .num {
        color: #8C8CA6B2;
        font-size: 8.88px;
        font-weight: 400; }
      .header-competition .btn-actions .innerbtn .text {
        color: #8C8CA6;
        font-size: 10px;
        white-space: nowrap; }
      .header-competition .btn-actions .innerbtn .circles {
        display: flex;
        align-items: center;
        gap: 3.55px; }
        .header-competition .btn-actions .innerbtn .circles li {
          min-width: 10px;
          max-width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #155DFC;
          background: #8C8CA640; }
      .header-competition .btn-actions .innerbtn.active {
        background: #fff;
        border: 1.78px solid #6E40ED;
        box-shadow: 0px 2.66px 8.88px 0px #6E40ED2E; }
        .header-competition .btn-actions .innerbtn.active .num {
          color: #6E40ED; }
        .header-competition .btn-actions .innerbtn.active .text {
          color: #000; }
        .header-competition .btn-actions .innerbtn.active .circles li.active {
          background: #6E40ED; }
        .header-competition .btn-actions .innerbtn.active .circles li.notactive {
          background: #fff;
          border: 1.78px solid #6E40ED; }
      .header-competition .btn-actions .innerbtn.finish {
        background: #0A996B14;
        border: 1.78px solid #0A996B59; }
        .header-competition .btn-actions .innerbtn.finish .num {
          color: #0A996B; }
        .header-competition .btn-actions .innerbtn.finish .text {
          color: #0A7352; }
        .header-competition .btn-actions .innerbtn.finish .circles li {
          background: #0A996B; }
    .header-competition .btn-actions .line {
      min-width: 17px;
      max-width: 17px;
      height: 1.77px;
      border-radius: 1.78px;
      background: #8C8CA633; }
  .header-competition .actions {
    display: flex;
    align-items: center;
    gap: 6px; }
    .header-competition .actions a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      background: #155DFC;
      color: #fff;
      min-width: 84px;
      max-width: 84px;
      height: 26px;
      border-radius: 6.66px;
      font-size: 10px;
      cursor: pointer;
      border: 1.48px solid #000;
      -moz-transition: all 0.1s ease-in-out 0s;
      -o-transition: all 0.1s ease-in-out 0s;
      -webkit-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s; }
      @media (min-width: 1900px) {
        .header-competition .actions a {
          font-size: 13.32px; } }
      @media (max-width: 999px) {
        .header-competition .actions a {
          min-width: 64px;
          max-width: 64px; } }
      .header-competition .actions a svg {
        min-width: 12px;
        max-width: 12px;
        height: 12px; }
      .header-competition .actions a:hover {
        transform: translate(1px, -2px); }
    .header-competition .actions .sharing {
      background: #fff;
      color: #155DFC; }
    .header-competition .actions .exit {
      background: #EF4444; }

.item-slider {
  background: #4D2B81;
  margin-top: -20px;
  min-height: 564px; }
  @media (max-width: 999px) {
    .item-slider {
      min-height: inherit; } }
  .item-slider .bg-icon {
    position: absolute;
    bottom: -212px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: -1; }
    @media (max-width: 1199px) {
      .item-slider .bg-icon {
        bottom: -112px; } }
    @media (max-width: 600px) {
      .item-slider .bg-icon {
        bottom: -41px; } }
  .item-slider .line {
    position: absolute;
    right: 0px;
    bottom: -116px; }
    @media (max-width: 999px) {
      .item-slider .line {
        display: none; } }
    .item-slider .line img {
      max-width: 73%; }
      @media (min-width: 1600px) {
        .item-slider .line img {
          max-width: 90%; } }
      @media (min-width: 1900px) {
        .item-slider .line img {
          max-width: 100%; } }
  .item-slider .container .logo {
    margin: 70px auto 0px auto;
    width: 236px; }
    .item-slider .container .logo img {
      width: 100%; }
  .item-slider .container .title {
    text-align: center;
    margin-top: 38px; }
  .item-slider .container p {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px; }

.bottoms {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin-top: 38px;
  gap: 16px; }
  @media (max-width: 999px) {
    .bottoms {
      gap: 8px;
      justify-content: center; } }
  .bottoms .bottom {
    min-width: 161px;
    height: 56px;
    border-radius: 10px;
    border: 2px solid #000; }
    .bottoms .bottom.play {
      background: #F08320;
      min-width: 80px; }
    .bottoms .bottom:hover {
      box-shadow: 6px 10px 0px #000000; }

.after-pickgame {
  padding: 32px 0px 148px 0px; }
  @media (max-width: 1199px) {
    .after-pickgame {
      padding: 12px 0px 110px 0px; } }
  .after-pickgame .inner {
    margin: 0px auto;
    max-width: 1211px;
    border: 0.9px solid #00000033;
    border-radius: 10px;
    padding: 20px; }
    @media (max-width: 1199px) {
      .after-pickgame .inner {
        padding: 0px;
        border: 0px; } }
    .after-pickgame .inner .back {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      color: #000;
      font-size: 20px;
      font-weight: 700; }
    .after-pickgame .inner .details {
      margin-top: 12px;
      padding: 12px;
      border-radius: 10px;
      border: 2px solid #00000026; }
      .after-pickgame .inner .details .minhead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px; }
        .after-pickgame .inner .details .minhead .infoitem {
          position: relative;
          display: flex;
          align-items: center; }
          .after-pickgame .inner .details .minhead .infoitem:hover .tooltip-text {
            visibility: visible;
            opacity: 1; }
          .after-pickgame .inner .details .minhead .infoitem .tooltip-text {
            display: flex;
            align-items: center;
            visibility: hidden;
            width: 160px;
            background: #F60037;
            color: #fff;
            text-align: center;
            border-radius: 8px;
            padding: 8px;
            position: absolute;
            z-index: 1;
            left: 32px;
            font-size: 12px;
            line-height: 15px;
            opacity: 0;
            transition: opacity 0.3s;
            border: 0.7px solid #000;
            text-align: center; }
            .after-pickgame .inner .details .minhead .infoitem .tooltip-text::after {
              content: "";
              position: absolute;
              left: -5px;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent #000 transparent transparent; }
        .after-pickgame .inner .details .minhead .flex {
          display: flex;
          align-items: center;
          gap: 12px; }
        .after-pickgame .inner .details .minhead .photo {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 32px;
          max-width: 32px;
          height: 32px;
          border-radius: 50%;
          padding: 4px;
          background: #F6F6F6; }
          .after-pickgame .inner .details .minhead .photo img {
            max-width: 100%;
            max-height: 100%; }
        .after-pickgame .inner .details .minhead .title {
          font-size: 16px;
          color: #E8506E; }
      .after-pickgame .inner .details .list {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 8px; }
        .after-pickgame .inner .details .list li {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 45px;
          height: 20px;
          color: #4A5565;
          font-size: 11px;
          border-radius: 60px;
          background: #F9FAFB;
          padding: 0px 10px;
          border: 1px solid #E5E7EB; }
      .after-pickgame .inner .details .explain {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 12px; }
        .after-pickgame .inner .details .explain .title {
          color: #000;
          font-size: 18px;
          font-weight: 500;
          border-inline-end: 1px solid #00000033;
          line-height: 1;
          padding-inline-end: 12px;
          white-space: nowrap; }
      .after-pickgame .inner .details .itemtours {
        background: #fff;
        border: 1px solid #E5E7EB;
        padding: 12px;
        gap: 48px;
        border-radius: 12px;
        margin-top: 12px;
        box-shadow: 0px 2px 10px 0px #0000000D; }
        .after-pickgame .inner .details .itemtours .title {
          color: #000;
          font-size: 16px; }
        .after-pickgame .inner .details .itemtours .flexitem {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          @media (max-width: 1199px) {
            .after-pickgame .inner .details .itemtours .flexitem {
              align-items: flex-start; } }
          .after-pickgame .inner .details .itemtours .flexitem .flexselect {
            position: relative;
            display: flex;
            align-items: center; }
            @media (max-width: 1199px) {
              .after-pickgame .inner .details .itemtours .flexitem .flexselect {
                display: block; } }
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .separator-arrow {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #F3F4F6;
              border: 1px solid #E5E7EB;
              border-radius: 60px;
              min-width: 24px;
              max-width: 24px;
              height: 24px; }
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .close-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              font-size: 14px;
              background: #fff;
              border: 1px solid #E5E7EB;
              border-radius: 60px;
              color: #6B7280;
              cursor: pointer;
              font-weight: bold;
              line-height: 1;
              transition: all 0.2s ease; }
              .after-pickgame .inner .details .itemtours .flexitem .flexselect .close-icon:hover {
                background: #FE0000;
                border-color: #FE0000;
                color: #fff; }
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .select-and-tags-container {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              order: -1; }
              @media (max-width: 1199px) {
                .after-pickgame .inner .details .itemtours .flexitem .flexselect .select-and-tags-container {
                  order: 0; } }
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger {
              position: relative;
              display: flex;
              align-items: center;
              flex-wrap: wrap; }
              .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom {
                display: none;
                position: absolute;
                top: 120%;
                right: 0px;
                background-color: #fff;
                border: 1px solid #E5E5ED;
                border-radius: 12px;
                box-shadow: 0px 8px 24px -4px #00000026;
                z-index: 4;
                min-width: 200px;
                overflow: hidden; }
                .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .dropdown-item-custom {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  padding: 4px 16px;
                  font-size: 14px;
                  color: #1A1A1A;
                  cursor: pointer;
                  transition: background 0.2s;
                  margin-bottom: 4px; }
                  .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .dropdown-item-custom:last-child {
                    margin: 0px; }
                  .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .dropdown-item-custom:hover, .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .dropdown-item-custom.selected-item {
                    color: #6B47ED;
                    background: #F5F2FF; }
                  .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .dropdown-item-custom.selected-item {
                    font-weight: bold; }
                    .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .dropdown-item-custom.selected-item .check-mark {
                      display: inline-block; }
                .after-pickgame .inner .details .itemtours .flexitem .flexselect .main-dropdown-trigger .dropdown-menu-custom .check-mark {
                  display: none;
                  font-size: 14px;
                  color: #6B47ED; }
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .select-btn,
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .selected-tag {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
              color: #000;
              border: none;
              padding: 0px 12px;
              border-radius: 60px;
              cursor: pointer;
              font-size: 14px;
              font-weight: 500;
              background: #F3F4F6;
              border: 1px solid #E5E7EB;
              height: 36px;
              transition: all 0.2s ease;
              margin-top: 8px; }
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .selected-tag,
            .after-pickgame .inner .details .itemtours .flexitem .flexselect .separator-arrow {
              margin-inline-end: 12px;
              margin-top: 8px; }
          .after-pickgame .inner .details .itemtours .flexitem .thewinner {
            align-content: center;
            min-width: 75px;
            border: 1px solid #FDE68A;
            font-size: 14px;
            font-weight: 700;
            border-radius: 60px;
            background: #FEF3C7;
            color: #92400E;
            padding: 0px 12px;
            gap: 4px;
            box-shadow: 0px 2px 8px 0px #00000012;
            margin-top: 8px; }
            @media (max-width: 1199px) {
              .after-pickgame .inner .details .itemtours .flexitem .thewinner {
                position: absolute;
                left: 0px; } }
        .after-pickgame .inner .details .itemtours .innertours {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 48px;
          width: 100%; }
          .after-pickgame .inner .details .itemtours .innertours::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            width: 100%;
            height: 1.8px;
            background: #4D2B81;
            z-index: -1; }
          .after-pickgame .inner .details .itemtours .innertours .listtours {
            display: flex;
            align-items: center;
            gap: 16px; }
            .after-pickgame .inner .details .itemtours .innertours .listtours li {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1.23px solid #C6AEEB;
              font-size: 14px;
              border-radius: 60px;
              background: #4D2B81;
              color: #fff;
              padding: 0px 12px; }
    .after-pickgame .inner .item-help {
      border-radius: 10px;
      padding: 20px;
      border: 2px solid #4D2B814D;
      background: #4D2B81;
      margin-top: 12px; }
      @media (max-width: 1199px) {
        .after-pickgame .inner .item-help {
          padding: 12px; } }
      .after-pickgame .inner .item-help .title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        color: #F9AF19; }
      .after-pickgame .inner .item-help .rowbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        margin-top: 20px; }
        @media (max-width: 999px) {
          .after-pickgame .inner .item-help .rowbox {
            grid-template-columns: repeat(1, 1fr);
            gap: 12px; } }
        .after-pickgame .inner .item-help .rowbox .team-box {
          background: #fff;
          border-radius: 9px;
          padding: 12px;
          border: 0.9px solid #D2D2D2; }
          .after-pickgame .inner .item-help .rowbox .team-box .headtitle {
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .after-pickgame .inner .item-help .rowbox .team-box .headtitle .title {
              color: #000;
              font-size: 20px; }
            .after-pickgame .inner .item-help .rowbox .team-box .headtitle .bottom {
              min-width: 93px;
              max-width: 93px;
              padding: 0px;
              height: 33px;
              border-radius: 10px;
              font-size: 15.86px;
              border: 1.98px solid #000;
              color: #CCF3DD;
              cursor: default;
              box-shadow: 3.96px 3.96px 0px 0px #000;
              transform: none !important; }
              @media (max-width: 999px) {
                .after-pickgame .inner .item-help .rowbox .team-box .headtitle .bottom {
                  font-size: 14px; } }
              .after-pickgame .inner .item-help .rowbox .team-box .headtitle .bottom.yellow {
                background: #F9AF19; }
              .after-pickgame .inner .item-help .rowbox .team-box .headtitle .bottom.red {
                background: #F60037; }
            .after-pickgame .inner .item-help .rowbox .team-box .headtitle .itemnumber {
              font-size: 50px;
              font-weight: 900;
              color: #F9AF19;
              text-shadow: -3.85px -3.85px 0 #000, 3.85px -3.85px 0 #000, -3.85px 3.85px 0 #000, 3.85px 3.85px 0 #000, 0px -3.85px 0 #000, 0px 3.85px 0 #000, -3.85px 0px 0 #000, 3.85px 0px 0 #000; }
              .after-pickgame .inner .item-help .rowbox .team-box .headtitle .itemnumber.rednum {
                color: #F60037; }
              @media (max-width: 667px) {
                .after-pickgame .inner .item-help .rowbox .team-box .headtitle .itemnumber {
                  font-size: 34px; } }
          .after-pickgame .inner .item-help .rowbox .team-box .cards-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            gap: 34px;
            margin-top: 18px; }
            @media (max-width: 1199px) {
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid {
                gap: 4px; } }
            .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card {
              position: relative;
              cursor: pointer;
              border-radius: 3.44px;
              border: 1.72px solid #F9AF19;
              filter: grayscale(1);
              transition: filter 0.3s ease; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused {
                cursor: not-allowed; }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused .photo,
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused .title {
                  filter: blur(1px); }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused:hover .tooltip-text {
                  visibility: visible;
                  opacity: 1; }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused .cancel {
                  display: flex;
                  align-items: center;
                  justify-content: center; }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused .tooltip-text {
                  visibility: hidden;
                  width: 100%;
                  background: #F60037;
                  color: #fff;
                  text-align: center;
                  border-radius: 8px;
                  padding: 8px;
                  position: absolute;
                  z-index: 1;
                  bottom: 108%;
                  left: 50%;
                  font-size: 12px;
                  line-height: 15px;
                  transform: translateX(-50%);
                  opacity: 0;
                  transition: opacity 0.3s;
                  border: 0.7px solid #000;
                  text-align: center; }
                  .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused .tooltip-text svg {
                    display: block;
                    margin: 0px auto 4px auto;
                    width: 15px;
                    height: 15px; }
                  .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.doneused .tooltip-text::after {
                    content: "";
                    position: absolute;
                    top: 102%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #F60037 transparent transparent transparent; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .abolition {
                position: absolute;
                left: 8px;
                top: 8px;
                cursor: pointer; }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .abolition svg {
                  width: 20px !important;
                  height: 20px !important; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .cancel {
                display: none;
                content: '';
                position: absolute;
                top: 0;
                right: auto;
                bottom: auto;
                left: 0;
                width: 100%;
                height: 100%;
                background: #00000099;
                z-index: 1; }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .cancel svg {
                  width: 37px;
                  height: 37px; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .photo {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 91px;
                overflow: hidden; }
                @media (max-width: 667px) {
                  .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .photo {
                    height: auto;
                    padding: 12px; } }
                .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .photo img {
                  max-width: 100%; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .title {
                font-weight: 400;
                font-size: 15.48px;
                text-align: center;
                color: #4A5565;
                padding: 5px;
                background: #F9FAFB;
                white-space: nowrap;
                justify-content: center; }
                @media (max-width: 667px) {
                  .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card .title {
                    font-size: 12px;
                    padding: 5px 0px; } }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.card[data-id="1"] {
                background: #F9AF19; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.card[data-id="2"] {
                background: #314AF7; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.card[data-id="3"] {
                background: #F60037; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.card[data-id="4"] {
                background: #212121; }
              .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card.active, .after-pickgame .inner .item-help .rowbox .team-box .cards-grid .card:hover {
                filter: grayscale(0%); }
    .after-pickgame .inner .btnstart {
      width: 100%;
      margin-top: 12px;
      border: 2.44px solid #b3b3b3;
      background: #fbdabc; }

.cards-teams {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 142px;
  padding: 0px !important;
  z-index: 10; }
  @media (max-width: 1199px) {
    .cards-teams {
      height: 78px; } }
  .cards-teams::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/bgcards.png) no-repeat center center;
    background-size: 100% 100%; }
  .cards-teams .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    @media (max-width: 999px) {
      .cards-teams .container {
        margin-top: -50px; } }
    @media (max-width: 450px) {
      .cards-teams .container {
        margin-top: -10px; } }
  .cards-teams .logo img {
    max-width: 143px; }
    @media (max-width: 1199px) {
      .cards-teams .logo img {
        max-width: 80px; } }
    @media (max-width: 450px) {
      .cards-teams .logo img {
        max-width: 60px; } }
  .cards-teams .item-team {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 22px; }
    @media (max-width: 1199px) {
      .cards-teams .item-team {
        gap: 12px; } }
    @media (max-width: 999px) {
      .cards-teams .item-team {
        display: block;
        margin: 0px; } }
    .cards-teams .item-team:nth-child(1) .cards {
      order: -1; }
    .cards-teams .item-team .cards {
      display: flex;
      gap: 8px; }
      @media (max-width: 1199px) {
        .cards-teams .item-team .cards {
          gap: 4px; } }
      @media (max-width: 999px) {
        .cards-teams .item-team .cards {
          margin-top: 16px; } }
      @media (max-width: 450px) {
        .cards-teams .item-team .cards {
          zoom: 66%; } }
      .cards-teams .item-team .cards .subcard {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 2px solid #000;
        min-width: 82.33px;
        max-width: 82.33px;
        height: 103.66px;
        border-radius: 5px;
        padding: 8px;
        overflow: hidden; }
        @media (max-width: 1199px) {
          .cards-teams .item-team .cards .subcard {
            min-width: 52px;
            max-width: 52px;
            height: 64px; }
            .cards-teams .item-team .cards .subcard svg {
              width: 20px;
              height: 20px; } }
        .cards-teams .item-team .cards .subcard .title,
        .cards-teams .item-team .cards .subcard .iconinfo {
          display: none; }
        .cards-teams .item-team .cards .subcard img {
          max-width: 100%;
          max-height: 100%; }
        .cards-teams .item-team .cards .subcard .remove-btn {
          position: absolute;
          top: 4px;
          left: 4px;
          width: 16px;
          height: 16px;
          cursor: pointer; }
    .cards-teams .item-team .bottom {
      min-width: 123px;
      max-width: 123px;
      padding: 0px;
      height: 44px;
      border-radius: 10px;
      font-size: 18px;
      color: #CCF3DD;
      cursor: default;
      box-shadow: 5.1px 5.1px 0px 0px #000;
      transform: none !important; }
      @media (max-width: 1199px) {
        .cards-teams .item-team .bottom {
          min-width: 102px;
          max-width: 102px;
          height: 39px;
          font-size: 14px; } }
      @media (max-width: 450px) {
        .cards-teams .item-team .bottom {
          zoom: 80%; } }
      .cards-teams .item-team .bottom.green {
        background: #0BB458; }
      .cards-teams .item-team .bottom.purple {
        background: #C03FFF; }

.item-winner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background: #4D2B81 url("../images/brother.png") no-repeat left bottom/cover; }
  @media (min-width: 1600px) {
    .item-winner {
      padding-top: 55px; } }
  @media (max-width: 999px) {
    .item-winner {
      padding-top: 24px; } }
  .item-winner .headerwinner {
    width: 100%; }
    .item-winner .headerwinner .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .item-winner .headerwinner .logo img {
      max-width: 148px; }
      @media (max-width: 999px) {
        .item-winner .headerwinner .logo img {
          max-width: 100px; } }
    .item-winner .headerwinner .bottom {
      min-width: 128px;
      height: 42px;
      background: #F08320; }
  .item-winner .item {
    margin-top: 32px;
    margin-inline-start: 28px; }
    @media (min-width: 1600px) {
      .item-winner .item {
        margin-top: 64px; } }
    @media (min-width: 1900px) {
      .item-winner .item {
        margin-top: 132px; } }
    @media (max-width: 999px) {
      .item-winner .item {
        margin: 0px;
        margin-top: 24px;
        width: 100%; } }
    .item-winner .item .flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 38px; }
      @media (max-width: 999px) {
        .item-winner .item .flex {
          gap: 24px; } }
      @media (max-width: 450px) {
        .item-winner .item .flex {
          gap: 12px;
          grid-template-columns: repeat(1, 1fr); } }
    .item-winner .item .subitem {
      min-width: 300px;
      max-width: 300px;
      height: 254px;
      border: 2px solid #000;
      box-shadow: 10px 4px 0px 0px #000;
      padding: 16px;
      border-radius: 10px;
      overflow: hidden; }
      @media (min-width: 1600px) {
        .item-winner .item .subitem {
          min-width: 366px;
          max-width: 366px; } }
      @media (max-width: 999px) {
        .item-winner .item .subitem {
          min-width: inherit;
          max-width: inherit;
          height: auto; } }
      @media (max-width: 450px) {
        .item-winner .item .subitem {
          padding: 12px; } }
      .item-winner .item .subitem .title {
        font-size: 52px;
        font-weight: 900;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000; }
        @media (max-width: 450px) {
          .item-winner .item .subitem .title {
            font-size: 32px; } }
      .item-winner .item .subitem:nth-child(1) {
        background: #F9AF19; }
      .item-winner .item .subitem:nth-child(2) {
        background: #F60037; }
        .item-winner .item .subitem:nth-child(2) .title,
        .item-winner .item .subitem:nth-child(2) .number {
          color: #FF7D75; }
      .item-winner .item .subitem .team {
        margin: 12px auto 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 138px;
        height: 50px;
        background: #fff;
        border: 2.46px solid #000;
        box-shadow: 4.92px 4.92px 0px 0px #000;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #000; }
        @media (max-width: 450px) {
          .item-winner .item .subitem .team {
            font-size: 18px;
            width: 118px;
            height: 40px;
            margin-top: 8px; } }
      .item-winner .item .subitem .number {
        font-size: 52px;
        font-weight: 900;
        line-height: 1;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000;
        margin-top: 16px; }
        @media (max-width: 450px) {
          .item-winner .item .subitem .number {
            font-size: 32px;
            margin-top: 8px; } }
    .item-winner .item .text-center {
      margin-top: 24px; }
      @media (min-width: 1600px) {
        .item-winner .item .text-center {
          margin-top: 48px; } }
      @media (max-width: 450px) {
        .item-winner .item .text-center {
          margin-top: 8px; } }
    .item-winner .item .bottom {
      background: #F08320; }

#welcome-splash {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  z-index: 9999; }
  #welcome-splash img {
    width: 100%;
    height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
  direction: rtl;
  text-align: right;
  font: normal 400 15px/28px "Readex Pro", sans-serif; }

.che-box {
  padding-left: 0px !important;
  padding-right: 22px !important; }
  .che-box input[type="radio"],
  .che-box input[type="checkbox"] {
    right: auto !important;
    left: 9000px !important; }
  .che-box input[type="checkbox"] + .label-text:before,
  .che-box input[type="radio"] + .label-text:before {
    left: auto !important;
    right: 0px !important; }

select.form-control {
  -webkit-appearance: none;
  background: #fff url(../images/arrow.svg) left 12px center no-repeat !important; }

textarea.form-control {
  padding: 0.75rem !important; }

.header .burger {
  left: auto;
  right: 118px; }
  .header .burger-line {
    left: auto;
    right: 0px; }
.header .site-header .bg {
  border-radius: 0px 0px 0px 60px; }
  @media (max-width: 999px) {
    .header .site-header .bg {
      display: none; } }
  .header .site-header .bg.tow {
    border-radius: 0px 60px 0px 0px; }
.header .navbar.active {
  left: auto;
  right: 0px; }
@media screen and (max-width: 999px) {
  .header .navbar .logo {
    left: auto;
    right: 12px; } }
.header .navbar .cancel {
  right: auto;
  left: 18px; }
@media screen and (max-width: 999px) {
  .header .navbar {
    left: auto;
    right: -100%; } }
.header .menu-link::after {
  left: auto;
  right: 0px; }
.header .submenu {
  left: auto;
  right: 0px; }
.header .formsearch .form-control {
  padding-right: 0.75rem;
  padding-left: 48px; }
.header .formsearch .btnsearch {
  right: auto;
  left: 12px; }
.header .btncart .number {
  right: auto;
  left: 0px; }

.faq .accordion .accordion-item .accordion-header {
  padding: 24px;
  padding-left: 64px; }
  .faq .accordion .accordion-item .accordion-header:after {
    right: auto;
    left: 24px; }

.steps .minphoto::after {
  left: auto;
  right: 0px; }

.item-news .item .content {
  left: auto;
  right: 20px; }

.product-card .subcard .action {
  left: auto;
  right: 12px; }
.product-card .itemaction .quick-view,
.product-card .itemaction .addfavorite,
.product-card .itemaction .addcart,
.product-card .itemaction .remova,
.product-card .itemaction .removeitem {
  border-right: 0px;
  border-left: 1px solid #FFFDF9; }
  .product-card .itemaction .quick-view .tooltip-text,
  .product-card .itemaction .addfavorite .tooltip-text,
  .product-card .itemaction .addcart .tooltip-text,
  .product-card .itemaction .remova .tooltip-text,
  .product-card .itemaction .removeitem .tooltip-text {
    right: auto;
    left: -50%; }
    .product-card .itemaction .quick-view .tooltip-text::after,
    .product-card .itemaction .addfavorite .tooltip-text::after,
    .product-card .itemaction .addcart .tooltip-text::after,
    .product-card .itemaction .remova .tooltip-text::after,
    .product-card .itemaction .removeitem .tooltip-text::after {
      right: auto;
      left: 50%;
      transform: translateX(-50%); }
.product-card .itemaction .quick-view {
  border: 0; }

.fashion-slider,
.fashion-slider2,
.fashion-slider3,
.fashion-slider4,
.product-details .gallery {
  direction: ltr; }

.fashion-slider .product-card,
.fashion-slider2 .product-card,
.fashion-slider3 .product-card,
.fashion-slider4 .product-card {
  direction: rtl; }

.modal .btnclose {
  right: auto;
  left: 12px; }

.banner .inner {
  direction: ltr; }
  .banner .inner .text {
    direction: rtl; }

@media (max-width: 999px) {
  .item-product .itemproduct {
    left: auto;
    right: -100%; }
    .item-product .itemproduct.active {
      left: auto;
      right: 0px; } }
.item-product .itemproduct .close-sidebar {
  right: auto;
  left: 16px;
  top: 16px; }

.checkouts::after {
  right: auto;
  left: 0px; }
.checkouts .item .flexproperty .num {
  right: auto;
  left: 4px; }
.checkouts .onitem .field select.form-control {
  background: #e1ddd4 url(../images/arrow.svg) left 12px center no-repeat !important; }

.item-cart .item .items-list li .che-box {
  left: auto;
  right: 16px; }

.item-profile .infouser {
  background: #323a2a url(../images/bglogo2.png) no-repeat left bottom; }
  .item-profile .infouser .user .imgcent .file-bro {
    right: auto;
    left: -4px; }
.item-profile .listmenuuser a::before {
  left: auto;
  right: 0px; }
.item-profile .table .tooltip-text {
  right: auto;
  left: -72%; }
  .item-profile .table .tooltip-text::after {
    right: auto;
    left: 50%;
    transform: translateX(-50%); }

.loginpage .back svg,
.forgot .back svg,
.sign-up .back svg {
  rotate: 180deg; }

.item-news .item .bottom svg {
  rotate: 180deg; }

.field .icon {
  left: auto;
  right: 12px; }
.field .form-control {
  padding-left: 0.75rem;
  padding-right: 38px; }
.field .position-relative .icon-pass {
  right: auto;
  left: 12px; }

.icon-pass {
  right: auto;
  left: 24px; }

.offer-item .item a svg {
  rotate: 180deg; }

.scrollTopBtn {
  right: auto;
  left: -100px; }
  .scrollTopBtn.show {
    right: auto;
    left: 12px; }

.maplink li a:before {
  right: auto;
  left: 0px; }

.footer .formemail .formsearch .form-control {
  padding-right: 0.75rem;
  padding-left: 112px; }
.footer .formemail .formsearch .bottom {
  right: auto;
  left: 0px;
  border-radius: 0.375rem 0px 0px 0.375rem; }
.footer .item-whatsapp {
  left: auto;
  right: 12px; }

/*# sourceMappingURL=home-ltr.css.map */
