body,
.header,
.header .actions .dropdown .dropdown-menu,
.field .inner span {
    background-color: #0C0F15 !important;
}

.item-slider,
.item-calculator .item,
.how-to-get-started,
.what-you-Get .item .icon,
.footer {
    background: #161B22;
}

.how-to-get-started .item .icon {
    border: 8px solid #161B22;
}

.item-calculator .item,
.fingertips .inner {
    border-color: #232A33;
}

.header .menu-link,
.header .actions .language,
.title,
.field label,
.field .inner span,
.header .logo .title span,
.header .actions .dropdown .dropdown-toggle p,
.header .actions .dropdown .dropdown-menu .dropdown-item {
    color: #fff !important;
}

.field .form-control {
    background: #1d222a;
    border-color: #232A33;
    color: #fff;
}

.field select.form-control {
    background: #1d222a url(../images/arrow2.svg) right 12px center no-repeat !important;
}

.field .form-control:focus {
    border-color: #C9A236;
}

.header .menu .activelink .menu-link,
.header .menu .menu-item:hover .menu-link {
    color: #C9A236 !important;
    background: #ffffff24;
}

.header .actions .color li svg,
.header .actions .btncart svg path,
.header .actions .dropdown .dropdown-menu .dropdown-item svg {
    fill: #fff;
}

.header .actions .language svg path {
    stroke: #fff;
}

.dropdown-toggle::after {
    border-top: .3em solid #fff;
}

.header .actions .dropdown .dropdown-menu .dropdown-item:last-child {
    border-top: 1px dotted #cccccc42;
}

.header .actions .dropdown .dropdown-menu .dropdown-item:hover {
    color: #C9A236 !important;
}

.header .burger-line {
    background: #fff;
}

.colortext {
    color: #919090;
}

.form-control::placeholder {
    color: #919090;
    opacity: 1;
    /* Firefox */
}

.form-control::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #919090;
    opacity: 1;
}

@media (max-width: 1100px) {
    .header .navbar {
        background: #232A33;
    }
    .header .actions .color {
        background: #e9e6e22e;
    }
}
