.scrollTopBtn {
    @include position(fixed, $right: -100px, $bottom: $com-spacing-3);
    @include flex;
    width: 44px;
    height: 44px;
    border: $zero;
    z-index: 998;
    border-radius: 5px;
    background: $red;
    cursor: pointer;
    opacity: 0;
    @include transition(all 0.5s ease-in-out 0s);
    @media (max-width: 999px) {
        display: $none;
    }
    &.show {
        right: $com-spacing-3;
        opacity: 1;
    }
    &:hover {
        transform: translate(2px, -3px);
        box-shadow: 6px 10px 0px $blak;
    }
    svg {
        @include rotate(90deg);
        width: 15px;
        height: 15px;
        path {
            fill: $white;
        }
    }
}

.footer {
    position: relative;
    width: $fullwidth;
    background: $purple;
    padding: $com-spacing-6 $zero;
    border-top: 11px solid #F08320;
    box-shadow: 0px -16px 0px 0px $red;
    margin-top: 200px;
    border-radius: 40px 40px $zero $zero;
    @media (max-width: 999px) {
        margin-top: $com-spacing-8;
    }
    .rowbox {
        display: grid;
        grid-template-columns: 550px 1fr 1fr 1fr;
        gap: $com-spacing-8;
        @media (max-width: 999px) {
            gap: $com-spacing-3;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .item {
        margin-top: $com-spacing-6;
        .logo {
            text-align: center;
            img {
                max-width: 316px;
                @media (max-width: 450px) {
                    max-width: $fullwidth;
                }
            }
        }
        .social {
            a {}
            @media (max-width: 999px) {}
        }
        .title {
            font-size: 22px;
            @media (max-width: 999px) {
                text-align: center;
            }
        }
        .navmenu {
            display: grid;
            margin-top: $com-spacing-3;
            a {
                @include hyprlink;
                margin-top: $com-spacing-2;
                font-size: 22px;
                @media (max-width: 999px) {
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
    .copyright {
        @include flex;
        width: $fullwidth;
        margin-top: $com-spacing-6;
        p {
            color: $white;
            font-size: 22px;
            font-weight: 700;
            @media (max-width: 999px) {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
