.scrollTopBtn {
    @include position(fixed, $right: -100px, $bottom: $com-spacing-3);
    @include flex;
    width: 44px;
    height: 44px;
    border: $zero;
    z-index: 998;
    border-radius: 5px;
    background: $red;
    cursor: pointer;
    opacity: 0;
    @include transition(all 0.5s ease-in-out 0s);
    @media (max-width: 999px) {
        display: $none;
    }
    &.show {
        right: $com-spacing-3;
        opacity: 1;
    }
    &:hover {
        transform: translate(2px, -3px);
        box-shadow: 6px 10px 0px $blak;
    }
    svg {
        @include rotate(90deg);
        width: 15px;
        height: 15px;
        path {
            fill: $white;
        }
    }
}

.footer {
    position: relative;
    width: $fullwidth;
    background: $purple;
    padding: $com-spacing-6 $zero;
    border-top: 11px solid #F08320;
    box-shadow: 0px -16px 0px 0px $red;
    margin-top: 200px;
    border-radius: 40px 40px $zero $zero;
    @media (max-width: 999px) {
        margin-top: $com-spacing-8;
    }
    .rowbox {
        display: grid;
        grid-template-columns: 550px 1fr 1fr 1fr;
        gap: $com-spacing-8;
        @media (max-width: 1199px) {
            grid-template-columns: 350px 1fr 1fr 1fr;
        }
        @media (max-width: 999px) {
            gap: $com-spacing-3;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .item {
        margin-top: $com-spacing-6;
        .logo {
            text-align: center;
            img {
                max-width: 316px;
                @media (max-width: 450px) {
                    max-width: $fullwidth;
                }
            }
        }
        .social {
            a {}
            @media (max-width: 999px) {}
        }
        .title {
            font-size: 22px;
            @media (max-width: 999px) {
                text-align: center;
            }
        }
        .navmenu {
            display: grid;
            margin-top: $com-spacing-3;
            a {
                @include hyprlink;
                margin-top: $com-spacing-2;
                font-size: 22px;
                @media (max-width: 999px) {
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
    .copyright {
        @include flex;
        width: $fullwidth;
        margin-top: $com-spacing-6;
        p {
            color: $white;
            font-size: 22px;
            font-weight: 700;
            @media (max-width: 999px) {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.footer-competition {
    position: relative;
    width: $fullwidth;
    height: 94px;
    background: $purple;
    padding: $com-spacing-6 $zero;
    border-top: 11px solid #F08320;
    box-shadow: 0px -16px 0px 0px #ededed;
    border-radius: 40px 40px $zero $zero;
}

.footer-widget {
    position: relative;
    width: $fullwidth;
    height: 88px;
    background: $purple;
    overflow: hidden;
    .container {
        @include flex;
        flex-wrap: wrap;
        gap: $com-spacing-4;
        height: $fullwidth;
        @media (max-width: 1300px) {
            gap: $com-spacing-1;
        }
    }
    .title {
        color: $white;
        font-size: 32px;
        @media (max-width: 1300px) {
            font-size: 24px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: $zero;
        top: $zero;
        width: 200px;
        height: $fullwidth;
        background: url(../images/f-l.svg) no-repeat;
        background-size: $fullwidth $fullwidth;
        @media (min-width: 1600px) {
            width: 350px;
        }
        @media (max-width: 1300px) {
            left: -100px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 200px;
        height: $fullwidth;
        background: url(../images/f-r.svg) no-repeat;
        background-size: $fullwidth $fullwidth;
        @media (min-width: 1600px) {
            width: 327px;
        }
        @media (max-width: 1300px) {
            right: -100px;
        }
    }
    .footer-nav {
        position: relative;
        @include flex;
        gap: $com-spacing-4;
        z-index: 1;
        a {
            @include flex;
            gap: 10px;
            min-width: 197px;
            height: 52px;
            border-radius: 15.77px;
            color: $white;
            font-size: 16.84px;
            font-weight: 700;
            cursor: pointer;
            @include transition(all 0.1s ease-in-out 0s);
            @media (min-width: 1600px) {
                min-width: 273px;
                height: 62px;
            }
            @media (max-width: 1300px) {
                min-width: 162px;
                height: 48px;
            }
            &:hover {
                transform: translate(1px, -2px);
            }
            &.blue {
                border: 2.78px solid #99A6FF;
                background: #314AF7;
            }
            &.red {
                display: none;
                border: 3.69px solid #FF7E9B;
                background: #F60037;
                @media (max-width: 1300px) {
                    display: flex;
                }
            }
        }
    }
    .answered {
        position: relative;
        @include flex;
        gap: $com-spacing-4;
        z-index: 1;
        @media (max-width: 1300px) {
            gap: $com-spacing-2;
        }
        a {
            @include flex;
            min-width: 136px;
            max-width: 136px;
            height: 50px;
            border: 2.46px solid $blak;
            border-radius: 10px;
            color: $blak;
            font-size: 20px;
            font-weight: 700;
            background: #F9AF19;
            @include transition(all 0.1s ease-in-out 0s);
            @media (max-width: 1300px) {
                min-width: 100px;
                max-width: 100px;
                height: 38px;
                font-size: 16px;
            }
            &:hover {
                transform: translate(1px, -2px);
            }
            &:nth-child(2) {
                background: #F60037;
                color: $white;
            }
            &:nth-child(3) {
                background: $white;
            }
        }
    }
}
