.header {
    display: flex;
    align-items: center;
    position: relative;
    width: $fullwidth;
    background: $purple;
    height: 88px;
    border-radius: $zero $zero 20px 20px;
    border-bottom: 1px solid $white;
    z-index: 1002;
    @media (max-width: 999px) {
        height: auto;
        padding: $com-spacing-3 $zero;
    }
    &.sticky {
        position: fixed;
        top: $zero;
        left: $zero;
        @media (max-width: 1100px) {}
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1199px) {
            max-width: $fullwidth;
        }
    }
    .burger {
        position: absolute;
        left: $com-spacing-3;
        display: none;
        cursor: pointer;
        user-select: none;
        width: 42px;
        height: 42px;
        background: $white;
        border-radius: 50%;
        @media (max-width: 999px) {
            @include flex;
        }
    }
    .logo {
        margin-bottom: -58px;
        @media (max-width: 999px) {
            margin: $zero;
        }
        img {
            max-width: 175px;
            @media (max-width: 999px) {
                max-width: 110px;
            }
        }
    }
    /* End NavMenu */
    .menu-actions {
        display: flex;
        align-items: center;
        gap: $com-spacing-3;
        @include transition(all 0.5s ease-in-out 0s);
        @media (max-width: 999px) {
            display: block;
            position: fixed;
            bottom: -100%;
            left: $zero;
            width: $fullwidth;
            height: calc(100% - 81.5px);
            z-index: 10;
            opacity: 0;
            overflow: hidden;
            overflow-y: auto;
            visibility: hidden;
            padding: $com-spacing-3;
            padding-top: $zero;
            background: $white;
            &.active {
                bottom: $zero;
                opacity: 1;
                visibility: visible;
            }
        }
        .cancel {
            position: absolute;
            left: $com-spacing-5;
            top: $com-spacing-5;
            display: none;
            margin: $zero;
            @media (max-width: 999px) {
                display: block;
            }
        }
        .login-res,
        .user-res {
            display: none;
            align-items: center;
            justify-content: space-between;
            padding: $com-spacing-5 $zero;
            border-bottom: 1px solid #EBEBEF;
            .flex {
                display: flex;
                align-items: center;
                gap: $com-spacing-3;
                .icon {
                    min-width: 44px;
                    max-width: 44px;
                    height: 44px;
                }
                .photo {
                    position: relative;
                    min-width: 40px;
                    max-width: 40px;
                    height: 40px;
                    // border-radius: 50%;
                    // overflow: hidden;
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .status {
                        position: absolute;
                        left: $zero;
                        bottom: $zero;
                        width: 10px;
                        height: 10px;
                        background: #2DCA72;
                        border-radius: 50%;
                        border: 2px solid $white;
                    }
                }
                .title {
                    color: $blak;
                    font-size: 14px;
                    font-weight: 400;
                }
                p {
                    font-size: 12px;
                }
            }
            @media (max-width: 999px) {
                display: flex;
            }
            .empirical {
                @include flex;
                background: #FFF2EE;
                border-radius: 60px;
                color: #B82E00;
                font-size: 12px;
                padding: $zero $com-spacing-4;
            }
        }
        .bottom {
            @media (max-width: 999px) {
                min-width: $fullwidth;
                margin-top: $com-spacing-4;
            }
            &.btn-hosting {
                border-color: $white;
                background: #FFFFFF33;
                @media (max-width: 999px) {
                    display: none;
                }
            }
        }
        .play {
            @include bottom;
            background: $orange;
            min-width: 124px;
            @media (max-width: 999px) {
                min-width: $fullwidth;
            }
        }
        .hide-res {
            @media (max-width: 999px) {
                display: none;
            }
        }
        .itemlink {
            color: $white;
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            @include transition(all 0.5s ease-in-out 0s);
            svg {
                display: none;
            }
            &.hideitem {
                display: none;
            }
            @media (max-width: 999px) {
                display: flex;
                align-items: center;
                gap: $com-spacing-3;
                margin-top: $com-spacing-5;
                font-size: 20px;
                font-weight: 500;
                color: $blak;
                svg {
                    display: block;
                }
                &.hideitem {
                    display: flex;
                }
            }
            &:hover {
                color: $orange;
            }
        }
        .dropdown {
            @media (max-width: 999px) {
                display: none;
            }
            .dropdown-toggle {
                @include flex;
                @include transition(all 0.5s ease-in-out 0s);
                line-height: 1;
                cursor: pointer;
                position: relative;
                min-width: 50px;
                max-width: 50px;
                height: 50px;
                border-radius: 60px;
                background: $red;
                border: 3px solid $blak;
                @media (max-width: 999px) {
                    margin-top: $com-spacing-4;
                }
                &::after {
                    display: none;
                }
            }
            .dropdown-menu {
                left: $zero !important;
                right: $auto !important;
                padding: $zero;
                transform: $none !important;
                top: 68px !important;
                margin: $zero;
                @include transition(all 0.5s ease-in-out 0s);
                border: $zero;
                padding-top: 6px;
                width: 168px;
                overflow: hidden;
                @include border-radius(10px);
                @include prefixer (box-shadow, 0px 0px 10px rgba(0, 0, 0, 0.1), webkit moz o ms);
                text-align: start;
                z-index: 2;
                @media (max-width: 999px) {
                    position: relative !important;
                    width: $fullwidth;
                    top: auto !important;
                    margin-top: $com-spacing-2 !important;
                }
                .dropdown-item {
                    @include transition(all 0.5s ease-in-out 0s);
                    background: $none !important;
                    color: $blak;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: $com-spacing-4;
                    &:last-child {
                        border: $zero;
                        border-top: 1px dotted #FFE6E6;
                        padding: $com-spacing-3;
                        color: $red;
                        margin: $zero;
                    }
                    &.active,
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
        .itemplan {
            display: none;
            position: absolute;
            left: $zero;
            bottom: $zero;
            width: $fullwidth;
            @media (max-width: 999px) {
                display: block;
            }
            .flexplan {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $com-spacing-3;
                border-top: 1px solid #EBEBEF;
                .title {
                    color: #121217;
                    font-size: 14px;
                    font-weight: 400;
                }
                p {
                    color: #6C6C89;
                    font-size: 12px;
                    font-weight: 400;
                }
                .promotion {
                    @include flex;
                    background: #F7F7F8;
                    border-radius: 12px;
                    color: #121217;
                    font-size: 14px;
                    font-weight: 500;
                    padding: $com-spacing-1 $com-spacing-3;
                }
            }
            .btns {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $com-spacing-3;
                padding: $com-spacing-3;
                border-top: 1px solid #EBEBEF;
                a {
                    @include flex;
                    gap: $com-spacing-2;
                    height: 36.38px;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 600;
                    color: $white;
                    &:nth-child(1) {
                        background: $orange;
                        border: 1.53px solid #2D2D2D;
                    }
                    &:nth-child(2) {
                        background: $purple;
                        border: 1.53px solid #E0E0E0
                    }
                }
            }
        }
    }
}

.header-competition {
    display: flex;
    align-items: center;
    height: 85px;
    border-bottom: 1px solid #00000033;
    @media (min-width: 1900px) {}
    @media (max-width: 550px) {
        // zoom: 60%;
    }
    @media (max-width: 1300px) {
        height: 74px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $com-spacing-3;
        max-width: $fullwidth;
        @media (max-width: 999px) {}
    }
    .logo {
        img {
            max-width: 111px;
            @media (max-width: 767px) {
                max-width: 82px;
            }
        }
    }
    .btn-actions {
        display: flex;
        align-items: center;
        gap: 2px;
        @media (min-width: 1600px) {
            gap: 7px;
        }
        @media (max-width: 1300px) {
            display: none;
        }
        .cup {
            img {
                width: 79px;
                height: 64px
            }
        }
        .innerbtn {
            @include flex;
            gap: $com-spacing-1;
            background: #EDEDF5;
            height: 42px;
            border-radius: 8.88px;
            padding: $com-spacing-2;
            @media (min-width: 1600px) {
                padding: $com-spacing-3;
            }
            .num {
                color: #8C8CA6B2;
                font-size: 8.88px;
                font-weight: 400;
            }
            .text {
                color: #8C8CA6;
                font-size: 10px;
                white-space: nowrap;
            }
            .circles {
                display: flex;
                align-items: center;
                gap: 3.55px;
                li {
                    min-width: 10px;
                    max-width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #155DFC;
                    background: #8C8CA640;
                }
            }
            &.active {
                background: $white;
                border: 1.78px solid #6E40ED;
                box-shadow: 0px 2.66px 8.88px 0px #6E40ED2E;
                .num {
                    color: #6E40ED;
                }
                .text {
                    color: $blak;
                }
                .circles {
                    li {
                        &.active {
                            background: #6E40ED;
                        }
                        &.notactive {
                            background: $white;
                            border: 1.78px solid #6E40ED;
                        }
                    }
                }
            }
            &.finish {
                background: #0A996B14;
                border: 1.78px solid #0A996B59;
                .num {
                    color: #0A996B;
                }
                .text {
                    color: #0A7352;
                }
                .circles {
                    li {
                        background: #0A996B;
                    }
                }
            }
        }
        .line {
            min-width: 17px;
            max-width: 17px;
            height: 1.77px;
            border-radius: 1.78px;
            background: #8C8CA633;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        gap: 6px;
        a {
            @include flex;
            gap: $com-spacing-1;
            background: #155DFC;
            color: $white;
            min-width: 84px;
            max-width: 84px;
            height: 26px;
            border-radius: 6.66px;
            font-size: 10px;
            // padding: $com-spacing-2;
            cursor: pointer;
            border: 1.48px solid $blak;
            @include transition(all 0.1s ease-in-out 0s);
            @media (min-width: 1900px) {
                font-size: 13.32px;
            }
            @media (max-width: 999px) {
                min-width: 64px;
                max-width: 64px;
            }
            svg {
                min-width: 12px;
                max-width: 12px;
                height: 12px;
            }
            &:hover {
                transform: translate(1px, -2px);
            }
        }
        .sharing {
            background: $white;
            color: #155DFC;
        }
        .exit {
            background: #EF4444;
        }
    }
}

//////////////////////// End header
