 .item-about {
     background: url(../images/about.png) no-repeat center bottom;
     padding: 150px $zero;
     margin-top: -72px;
     background-size: 100% 100%;
     @media (max-width: 999px) {
         background: $purple;
         padding: $com-spacing-8 $zero;
         min-height: inherit;
         background: #f4f4f4;
         margin: $zero;
     }
     .container {
         max-width: 1170px;
         display: grid;
         align-items: center;
         grid-template-columns: 1fr 451px;
         gap: 160px;
         @media (max-width: 999px) {
             grid-template-columns: 1fr;
         }
     }
     .logo {
         @media (max-width: 999px) {
             display: none;
         }
         img {
             width: $fullwidth;
         }
     }
     p {
         font-size: 22px;
         font-weight: 700;
         color: $blak;
         margin-top: $com-spacing-2;
     }
 }
