.item-login,
.item-signup,
.item-forgot {
    overflow: hidden;
    margin-bottom: -160px;
    @media (max-width: 999px) {
        margin: $zero;
    }
    .inner {
        max-width: 694px;
        margin: $zero $auto;
        border: 1px solid #00000021;
        border-radius: 20px;
        padding: $com-spacing-5;
        .title {
            color: $purple;
            text-align: center;
            font-size: 30px;
            @media (max-width: 999px) {}
        }
        p.text {
            font-size: 20px;
            margin-top: $com-spacing-2;
            text-align: center;
            @media (max-width: 999px) {}
        }
        .field {
            position: relative;
            margin-top: 22px;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
            }
            label {
                font-weight: 500;
                margin-bottom: $com-spacing-3;
            }
            .form-control {
                height: 67px;
                &:focus,
                &:hover {
                    border-color: $purple;
                }
            }
            .input-error {
                border-color: $red !important;
                background: #FFF5F5;
            }
            .error-message {
                display: flex;
                align-items: center;
                color: $red;
                font-size: 13px;
                display: none;
                margin-top: 6px;
                font-weight: 500;
                margin-top: $com-spacing-2;
            }
            .btngmail {
                @include flex;
                gap: $com-spacing-1;
                width: $fullwidth;
                height: 54px;
                border: 1px solid #E8E8E8;
                border-radius: 10px;
            }
            p {
                margin: $zero;
                a {
                    color: $purple;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .bottom {
                width: $fullwidth;
                height: 50px;
                background: $purple;
                border: $zero;
                box-shadow: none !important;
                border-radius: 8px;
                transform: none !important;
                &:hover {
                    background: #361d5c;
                }
            }
            .icon-pass {
                position: absolute;
                top: $com-spacing-6;
                left: $com-spacing-5;
                z-index: 10;
                cursor: pointer;
                @include transition(all 0.5s ease-in-out 0s);
                svg {
                    width: 24px;
                    fill: $blak;
                }
            }
            .icon-pass.eye-slash.icon-pass {
                display: none;
                svg {
                    fill: $none
                }
            }
        }
    }
}

.privacy-policy,
.terms-conditions,
.usage-policy {
    .container {
        max-width: 785px;
    }
    .icon {
        @include flex;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: linear-gradient(180deg, #FF5028 0%, #FF7020 100%);
        margin: $zero $auto $com-spacing-3 $auto;
    }
    .title {
        font-size: 16px;
        font-weight: 400;
        color: #2E2C3A;
    }
    .inner {
        margin-top: $com-spacing-7;
        .title {
            font-size: 20px;
        }
        p {
            margin-top: 14px;
            color: #364153;
        }
    }
}

.item-contact {
    margin-top: 116px;
    @media (max-width: 999px) {
        margin: $zero;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 533px;
        gap: 41px;
        @media (min-width: 1600px) {
            max-width: 1334px;
        }
        @media (max-width: 1199px) {
            grid-template-columns: 1fr 333px;
        }
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $com-spacing-6;
        }
    }
    .innerform {
        .title {
            color: $purple;
            @media (max-width: 999px) {}
        }
        p.text {
            color: #969696;
            font-size: 18px;
            margin-top: $com-spacing-2;
            @media (max-width: 999px) {}
        }
        .field {
            position: relative;
            margin-top: 22px;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
            }
            label {
                font-weight: 500;
                margin-bottom: $com-spacing-3;
            }
            .form-control {
                height: 59px;
                &:focus,
                &:hover {
                    border-color: $purple;
                }
            }
            .input-error {
                border-color: $red !important;
                background: #FFF5F5;
            }
            .error-message {
                display: flex;
                align-items: center;
                color: $red;
                font-size: 13px;
                display: none;
                margin-top: 6px;
                font-weight: 500;
                margin-top: $com-spacing-2;
            }
            .bottom {
                width: $fullwidth;
                height: 70px;
                background: $purple;
                border: $zero;
                box-shadow: none !important;
                border-radius: 8px;
                transform: none !important;
                &:hover {
                    background: #361d5c;
                }
                @media (max-width: 999px) {
                    height: 59px;
                }
            }
        }
    }
    .item {
        position: relative;
        @include flex;
        background: $purple;
        padding: $com-spacing-6;
        border-radius: 10px;
        @media (max-width: 999px) {
            display: none;
        }
        .logo {
            img {
                max-width: 338px;
                @media (max-width: 1199px) {
                    max-width: $fullwidth;
                }
            }
        }
        .line {
            position: absolute;
            right: $zero;
            bottom: 50px;
            @media (max-width: 999px) {
                display: none;
            }
            img {
                max-width: $fullwidth;
                @media (min-width: 1900px) {
                    max-width: $fullwidth;
                }
            }
        }
    }
}