 .item-slider {
     background: $purple;
     margin-top: -20px;
     min-height: 564px;
     @media (max-width: 999px) {
         min-height: inherit;
     }
     .bg-icon {
         position: absolute;
         bottom: -212px;
         left: $zero;
         width: $fullwidth;
         height: auto;
         z-index: -1;
         @media (max-width: 1199px) {
             bottom: -112px;
         }
         @media (max-width: 600px) {
             bottom: -41px;
         }
     }
     .line {
         position: absolute;
         right: $zero;
         bottom: -116px;
         @media (max-width: 999px) {
             display: none;
         }
         img {
             max-width: 73%;
             @media (min-width: 1600px) {
                 max-width: 90%;
             }
             @media (min-width: 1900px) {
                 max-width: $fullwidth;
             }
         }
     }
     .container {
         @media (max-width: 999px) {}
         .logo {
             margin: 70px $auto $zero $auto;
             width: 236px;
             img {
                 width: $fullwidth;
             }
         }
         .title {
             text-align: center;
             margin-top: 38px;
         }
         p {
             color: $white;
             text-align: center;
             font-size: 22px;
             font-weight: 400;
             margin-top: $com-spacing-5;
             @media (max-width: 999px) {}
         }
     }
 }
 
 .bottoms {
     @include flex;
     position: relative;
     flex-wrap: wrap;
     margin-top: 38px;
     gap: $com-spacing-4;
     @media (max-width: 999px) {
         gap: $com-spacing-2;
         justify-content: center;
     }
     .bottom {
         min-width: 161px;
         height: 56px;
         border-radius: 10px;
         border: 2px solid $blak;
         &.play {
             background: $orange;
             min-width: 80px;
         }
         &:hover {
             box-shadow: 6px 10px 0px #000000;
         }
     }
 }
 
 .after-pickgame {
     padding-bottom: 160px;
     .inner {
         margin: $zero $auto;
         max-width: 1097px;
         border: 0.9px solid #00000033;
         border-radius: 10px;
         padding: $com-spacing-5;
         .back {
             display: inline-flex;
             align-items: center;
             gap: $com-spacing-2;
             color: $blak;
             font-size: 20px;
             font-weight: 700;
         }
         .details {
             margin-top: $com-spacing-3;
             padding: $com-spacing-3;
             border-radius: 10px;
             border: 2px solid #00000026;
             .minhead {
                 display: flex;
                 align-items: center;
                 gap: $com-spacing-3;
                 .photo {
                     @include flex;
                     min-width: 32px;
                     max-width: 32px;
                     height: 32px;
                     border-radius: 50%;
                     padding: $com-spacing-1;
                     background: #F6F6F6;
                     img {
                         max-width: $fullwidth;
                         max-height: $fullwidth;
                     }
                 }
                 .title {
                     font-size: 16px;
                     color: #E8506E;
                 }
             }
             .list {
                 display: flex;
                 align-items: center;
                 gap: 5px;
                 flex-wrap: wrap;
                 margin-top: $com-spacing-2;
                 li {
                     @include flex;
                     min-width: 45px;
                     height: 20px;
                     color: #4A5565;
                     font-size: 11px;
                     border-radius: 60px;
                     background: #F9FAFB;
                     padding: $zero 10px;
                     border: 1px solid #E5E7EB;
                 }
             }
             .explain {
                 display: flex;
                 align-items: center;
                 gap: $com-spacing-3;
                 margin-top: $com-spacing-3;
                 .title {
                     color: $blak;
                     font-size: 18px;
                     font-weight: 500;
                     border-inline-end: 1px solid #00000033;
                     line-height: 1;
                     padding-inline-end: $com-spacing-3;
                 }
             }
             .itemtours {
                 display: flex;
                 align-items: center;
                 background: #C9C9C933;
                 border: 0.9px solid #D0D0D0;
                 padding: $com-spacing-3;
                 gap: $com-spacing-8;
                 border-radius: 8px;
                 margin-top: $com-spacing-3;
                 .title {
                     color: $purple;
                     font-size: 20px;
                 }
                 .innertours {
                     position: relative;
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     gap: $com-spacing-8;
                     width: $fullwidth;
                     &::before {
                         content: "";
                         position: absolute;
                         top: 50%;
                         left: $zero;
                         width: $fullwidth;
                         height: 1.8px;
                         background: $purple;
                         z-index: -1;
                     }
                     .listtours {
                         display: flex;
                         align-items: center;
                         gap: $com-spacing-4;
                         li {
                             @include flex;
                             border: 1.23px solid #C6AEEB;
                             font-size: 14px;
                             border-radius: 60px;
                             background: $purple;
                             color: $white;
                             padding: $zero $com-spacing-3;
                         }
                     }
                     .thewinner {
                         @include flex;
                         min-width: 127px;
                         border: 1.23px solid #C6AEEB;
                         font-size: 14.43px;
                         border-radius: 60px;
                         background: linear-gradient(270deg, #5A27D4 0%, #1E1A4A 100%);
                         color: $white;
                         padding: $zero $com-spacing-3;
                         gap: $com-spacing-1;
                     }
                 }
             }
         }
         .item-help {
             border-radius: 10px;
             padding: $com-spacing-5;
             border: 2px solid #4D2B814D;
             background: $purple;
             margin-top: $com-spacing-3;
             .title {
                 display: flex;
                 align-items: center;
                 gap: $com-spacing-2;
                 font-size: 20px;
                 color: #F9AF19;
             }
             .rowbox {
                 display: grid;
                 grid-template-columns: repeat(2, 1fr);
                 gap: 28px;
                 margin-top: $com-spacing-5;
                 .difference {
                     background: $white;
                     border-radius: 9px;
                     padding: $com-spacing-3;
                     border: 0.9px solid #D2D2D2;
                     @media (min-width: 1600px) {}
                     @media (min-width: 1900px) {}
                     @media (max-width: 1199px) {
                         // margin-top: $com-spacing-3;
                         // padding: $com-spacing-3;
                     }
                     .headtitle {
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         .title {
                             color: $blak;
                             font-size: 20px;
                         }
                         .bottom {
                             min-width: 93px;
                             max-width: 93px;
                             padding: $zero;
                             height: 33px;
                             border-radius: 10px;
                             font-size: 15.86px;
                             border: 1.98px solid $blak;
                             color: #CCF3DD;
                             cursor: default;
                             box-shadow: 3.96px 3.96px 0px 0px $blak;
                             transform: none !important;
                             // @media (min-width: 1600px) {
                             //     min-width: 137px;
                             //     max-width: 137px;
                             //     height: 50px;
                             // }
                             @media (max-width: 667px) {
                                 min-width: 110px;
                                 max-width: 110px;
                                 height: 34px;
                                 font-size: 14px;
                                 box-shadow: 3.1px 3.1px 0px 0px $blak;
                             }
                             &.yellow {
                                 background: #F9AF19;
                             }
                             &.red {
                                 background: #F60037;
                             }
                         }
                         .itemnumber {
                             // font-size: 58px;
                             font-size: 50px;
                             font-weight: 900;
                             color: #F9AF19;
                             text-shadow: -3.85px -3.85px 0 $blak, 3.85px -3.85px 0 $blak, -3.85px 3.85px 0 $blak, 3.85px 3.85px 0 $blak, 0px -3.85px 0 $blak, 0px 3.85px 0 $blak, -3.85px 0px 0 $blak, 3.85px 0px 0 $blak;
                             &.rednum {
                                 color: #F60037;
                             }
                             @media (max-width: 667px) {
                                 font-size: 34px;
                             }
                         }
                     }
                     .flex {
                         display: grid;
                         grid-template-columns: repeat(4, 1fr);
                         align-items: center;
                         gap: $com-spacing-2;
                         margin-top: 18px;
                         @media (min-width: 1900px) {
                             gap: 11px;
                         }
                         @media (max-width: 667px) {
                             gap: $com-spacing-1;
                         }
                         .game-card {
                             position: relative;
                             cursor: pointer;
                             border-radius: 3.44px;
                             border: 1.72px solid #F9AF19;
                             filter: grayscale(1);
                             transition: filter 0.3s ease;
                             // overflow: hidden;
                             //  &:hover {
                             //      filter: grayscale(0);
                             //  }
                             &.doneused {
                                 cursor: not-allowed;
                                 .photo,
                                 .title {
                                     filter: blur(1px);
                                 }
                                 &:hover {
                                     .tooltip-text {
                                         visibility: visible;
                                         opacity: 1;
                                     }
                                 }
                                 .cancel {
                                     @include flex;
                                 }
                                 .tooltip-text {
                                     visibility: hidden;
                                     width: $fullwidth;
                                     background: #F60037;
                                     color: #fff;
                                     text-align: center;
                                     border-radius: 8px;
                                     padding: $com-spacing-2;
                                     position: absolute;
                                     z-index: 1;
                                     bottom: 108%;
                                     left: 50%;
                                     font-size: 12px;
                                     line-height: 15px;
                                     transform: translateX(-50%);
                                     opacity: 0;
                                     transition: opacity 0.3s;
                                     border: 0.7px solid $blak;
                                     text-align: center;
                                     svg {
                                         display: block;
                                         margin: $zero $auto $com-spacing-1 $auto;
                                         width: 15px;
                                         height: 15px;
                                     }
                                     &::after {
                                         content: "";
                                         position: absolute;
                                         top: 102%;
                                         left: 50%;
                                         margin-left: -5px;
                                         border-width: 5px;
                                         border-style: solid;
                                         border-color: #F60037 transparent transparent transparent;
                                     }
                                 }
                             }
                             .abolition {
                                 position: absolute;
                                 left: $com-spacing-2;
                                 top: $com-spacing-2;
                                 cursor: pointer;
                                 svg {
                                     width: 20px !important;
                                     height: 20px !important;
                                 }
                             }
                             .cancel {
                                 display: none;
                                 @include overlay;
                                 background: #00000099;
                                 z-index: 1;
                                 svg {
                                     width: 37px;
                                     height: 37px;
                                 }
                             }
                             .photo {
                                 @include flex;
                                 height: 91px;
                                 // border: 1.72px solid #F9AF19;
                                 overflow: hidden;
                                 @media (max-width: 667px) {
                                     height: auto;
                                     padding: $com-spacing-3;
                                 }
                                 img {
                                     max-width: $fullwidth;
                                 }
                             }
                             .title {
                                 font-weight: 400;
                                 font-size: 15.48px;
                                 text-align: center;
                                 color: #4A5565;
                                 padding: 5px;
                                 background: #F9FAFB;
                                 white-space: nowrap;
                                 justify-content: center;
                                 @media (max-width: 667px) {
                                     font-size: 12px;
                                     padding: 5px $zero;
                                 }
                             }
                             &.card-yellow {
                                 // border: 1.72px solid #F9AF19;
                                 .photo {
                                     background: #F9AF19;
                                 }
                             }
                             &.card-blue {
                                 // border: 1.72px solid #314AF7;
                                 .photo {
                                     background: #314AF7;
                                 }
                             }
                             &.card-red {
                                 // border: 1.72px solid #F60037;
                                 .photo {
                                     background: #F60037;
                                 }
                             }
                             &.card-black {
                                 // border: 1.72px solid #212121;
                                 .photo {
                                     background: #212121;
                                 }
                             }
                             &.card-gold {
                                 // border: 1.72px solid #F2D87E;
                                 .photo {
                                     background: linear-gradient(90deg, #F2D87E 0%, #EBCA68 11%, #E3BD52 25%, #DFB445 39%, #DEB241 51%, #D3A93B 61%, #C9A036 78%, #C69E35 99%);
                                 }
                             }
                         }
                     }
                 }
             }
         }
         .btnstart {
             width: $fullwidth;
             margin-top: $com-spacing-3;
             border: 2.44px solid #b3b3b3;
             background: #fbdabc;
         }
     }
 }